<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>ASM</title>
    <link href="./lib/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/styles.css">

</head>
<body>
    <header>
        <div class="border py-3 shadow-sm">
            <div class="container d-flex  justify-content-between align-items-center">
                <div class="col-2 d-flex justify-content-center align-items-center " style="width: 80px; height: 50px">
                    <a href="index.html">
                        <img src="./assets/img/logo.png" alt="Logo" class="mw-100 mh-100 ">
                    </a>
                </div>
                <div>
                    <span>Already have an account?</span>
                    <a href="signin.html" class="text-primary text-decoration-none fw-medium">Sign in</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container my-5">
            <div class="row row-cols-2 ">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="./assets/img/signup.jpg" alt="">
                </div>
                <div>
                    <div class="w-75 ms-5">
                        <div class="mb-5">
                            <h1 class="fw-bold">Get Start Shopping</h1>
                            <p>Welcome to FreshCart! Enter your email to get started.</p>
                        </div>
                        <div>
                            <div class="row g-3">
                                <div class="col-12">
                                    <input type="text" name="" placeholder="User Name" class="form-control py-2" ng-model="input.user">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="" placeholder="Email" class="form-control py-2" ng-model="input.email">
                                </div>
                                <div class="col-12">
                                    <input type="password" name="" placeholder="*****" class="form-control py-2" ng-model="input.pass">
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary py-2 w-100 " ng-click="dangky()">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div style="background-color: #f0f3f2;">
            <div class="container py-5">
                <div class="row row-cols-5 ">
                    <div>
                        <h6 class="mb-3">Categories</h6>
                        <ul class="p-0">
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">PC</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Laptop</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Smart phone</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Smart watch</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Tablet</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Apple</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Samsung</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h6 class="mb-3">Get to know us</h6>
                        <ul class="p-0">
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Company</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">About</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Blog</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Help Center</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Our Value</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h6 class="mb-3">For Consumers</h6>
                        <ul class="p-0">
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Payments</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Shipping</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Product Returns</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">FAQ</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Shop Checkout</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h6 class="mb-3">Become a Shopper</h6>
                        <ul class="p-0">
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Shopper Opportunities</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Become a Shopper</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Earnings</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Ideas & Guides</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">New Retailers</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h6 class="mb-3">Programs</h6>
                        <ul class="p-0">
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Programs</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Gift Cards</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Promos & Coupons</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Ads</a>
                            </li>
                            <li class="list-unstyled mb-2">
                                <a href="#" class="text-decoration-none text-secondary hover-blue">Careers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>